<h1>
  Student #<%= @student.id %> details
</h1>

<a href="/students/<%= @student.id %>/edit">
  Edit student
</a>

<hr>

<dl>
  <dt>
    First name
  </dt>
  <dd>
    <%= @student.first_name %>
  </dd>

  <dt>
    Last name
  </dt>
  <dd>
    <%= @student.last_name %>
  </dd>

  <dt>
    Email
  </dt>
  <dd>
    <%= @student.email %>
  </dd>
  
  <dt>
    Count
  </dt>
  <dd>
    <%= Enrollment.where(student_id: @student.id).count %>  
  </dd>
  
</dl>

<a href="/delete_student/<%= @student.id %>">
  Delete student
</a>

<hr>

<a href="/students">
  Go back
</a>




<div class="card mt-4">
  <div class="card-header">
    Course Load
  </div>
  
  <ul class="list-group list-group-flush">
    
    <% Enrollment.where(student_id: @student.id).each do |enrollment| %>
      <li class="list-group-item">
        <a href="/courses/<%= enrollment.course_id %>"> 
          <%= Course.find(enrollment.course_id).title %>
        </a>
      </li>
   <% end %>

  <div class="card-header">
    Enroll in a new course
  </div>

  <li class="list-group-item">
    <form action="/create_enrollment" method="post">
      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title">
          Title
        </label>
    
       <%= select_tag("course_id", options_from_collection_for_select(Course.all, :id, :title, @enrollment.try(:course_id)), :class => "form-control") %>
        or <a href="/courses/new"> Add a new course </a>      
        </div>
    
      <input type="hidden" name="student_id" value="<%= @student.id %>">
    
      <button class="btn btn-block btn-outline-secondary">
        Create enrollment
      </button>
    </form>
  </li>
  </ul>
