<h1>
  Course #<%= @course.id %> details
</h1>

<a href="/courses/<%= @course.id %>/edit">
  Edit course
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>

  <dd>
    <%= @course.title %>
  </dd>
  
  <dt>
    Department ID
  </dt>
  
  <dd>
    <a href="/departments/<%=@course.department_id%>">
      <%= Department.find(@course.department_id).name %>
    </a>  
  </dd>
  
  <dt>
    Number of enrolled students
  </dt>
  
  <dd>
    <%= Enrollment.where(course_id: @course.id).count %>
  </dd>
  
</dl>

<a href="/delete_course/<%= @course.id %>">
  Delete course
</a>

<hr>

<a href="/courses">
  Go back
</a>





<div class="card mt-4">
  <div class="card-header">
    Roster
  </div>
  
  <ul class="list-group list-group-flush">
    
    <% Enrollment.where(course_id: @course.id).each do |enrollment| %>
      <li class="list-group-item">
        <a href="/enrollments/<%= enrollment.student_id %>"> 
          <%= Student.find(enrollment.student_id).first_name + " " + Student.find(enrollment.student_id).last_name  %>
        </a>
      </li>
   <% end %>

  <div class="card-header">
    Add a new enrollment
  </div>

  <li class="list-group-item">
<form action="/create_enrollment" method="post">

  <div class="form-group">
    <input type="hidden" name="course_id" value="<%= @course.id %>">
  </div>

  <div class="form-group">
    <label for="student_id">
      Student
    </label>

    <%= select_tag("student_id", options_from_collection_for_select(Student.all, :id, :last_name, @enrollment.try(:student_id)), :class => "form-control") %>
    or <a href="/students/new"> Add a new student first </a>  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create enrollment
  </button>
</form>
  </li>
  </ul>
